# general

# .net related
# ignore VSCode related folders
**/.vscode
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json

# ignore outputs
**/bin
**/obj


# node.js related
/node_modules/
package-lock.json