# general

# .net related
# ignore VSCode related folders
**/.vscode
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json

# ignore outputs
**/bin
**/obj


# node.js related
# do not ignore packa-lock.json because 'npm ci' needs it
/node_modules/